# VS Code
.vscode*

# Claude Code
.claude/

# Blender
*.blend*

# Python
__pycache__*
.pytest_cache
.coverage
.venv/
venv/
*.pyc

# Build / Artifacts
*.zip

# Docs
docs/_build/

# Test output
tests/**/out

.DS_Store
pytest-report.xml
